* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "header header header"
                        "contenido contenido contenido"
                        "footer footer footer";
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: repeat (3, auto);      
}
.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .footer{
    padding:20px;
    border-radius:15px;
    display:grid;
}
.contenedor .header{
    background-color:rgb(37, 164, 243);
    color:white;
    grid-area:header;
}
.contenedor .contenido{
    grid-area: contenido;
    text-align:center;
    h2, h3{
        background-color:rgb(37, 164, 243);
        color:white;
        border-radius: 10px;
        padding: 15px;
        text-align: left;
    }
    h4, .li, .ul{
        color:rgb(35, 44, 41);
        text-align: left;
    }
    .fa-brands{
        display:flex;
        text-align:center;
        align-content: center;
        margin:10px;
        width: 35px;
        height:35px;
        border-radius:25px;
        background-color:rgb(26, 138, 153);
        color:white;
        box-shadow: 3px 3px 5px black;
    }
}
.contenedor .footer{
    grid-area:footer;
    background-color:rgb(37, 164, 243);
    color:white;
    text-align: center;
}
@media screen and (max-width: 600px){
    .contenedor{
        grid-template-areas: "header header header"
                             "contenido contenido contenido"
                             "footer footer footer";
    }
    .header h1{
        font-size:medium;
        width: 100%;
        display:flex;
        grid-area: header;
        height: 30%;
    }
    .contenido{
        grid-area: contenido;
        font-size:medium;
    }
    .footer p {
        display: flex;
        grid-area: footer;
        width: 100%;
        height: 30%;
        font-size:smaller;
    }
} 
@media screen and (max-width: 850px){
    .contenedor{
        grid-template-areas: "header header header"
                             "contenido contenido contenido"
                             "footer footer footer";
    }
    .header h1{
        font-size:medium;
        width: 100%;
        display:flex;
        grid-area: header;
        height: 30%;
    }
    .contenido{
        grid-area: contenido;
        font-size:medium;
    }
    .footer p {
        display: flex;
        grid-area: footer;
        width: 100%;
        height: 30%;
        font-size:smaller;
    }
} 
